<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.test.mapper.StatisticalMapper">
    <update id="putStorage">
        update pw_pesticide_inventory
        set price=#{putStorage.price},
        deposit=#{putStorage.deposit},
        number=number + #{putStorage.number}
        where basic_info_id = #{putStorage.basicInfoId}
        and DEPT_ID = #{deptId}
    </update>

    <update id="reduceStorage">
        update pw_pesticide_inventory
        set number=number - #{number}
        where ID = #{inventoryId}
        and number >= #{number}
        and DEPT_ID = #{deptId}
    </update>

    <update id="huishou">
        update pw_order_item
        set is_recycle = 1,
        recycle_time = now()
        where ID = #{itemId}
        and is_recycle = 0
        and is_return = 0
        and DEPT_ID = #{deptId}
    </update>

    <update id="tuihuo">
        update pw_order_item
        set is_return = 1,
        return_time = now()
        where ID = #{itemId}
        and is_return = 0
        and is_recycle = 0
        and DEPT_ID = #{deptId}
    </update>

    <select id="count" resultType="java.util.Map">
        SELECT *,
        ifnull(CONCAT(ROUND(t2.yhsCount / t1.yxsCount * 100, 2), '%'), '0.00%') percentage
        FROM (SELECT ifnull(sum(oi.number), 0) yxsCount, ifnull(sum((oi.price + oi.deposit) * oi.number), 0) price
        FROM pw_order_item oi
        left join sys_dept d on d.dept_id = oi.dept_id
        left join sys_user u on u.user_id = oi.user_id
        WHERE is_return = 0 ${params.dataScope}) t1,
        (SELECT ifnull(count(oi.number), 0) yhsCount
        FROM pw_order_item oi
        left join sys_dept d on d.dept_id = oi.dept_id
        left join sys_user u on u.user_id = oi.user_id
        WHERE is_recycle = 1 ${params.dataScope}) t2,
        (SELECT ifnull(count(oi.number), 0) dqyCount
        FROM pw_order_item oi
        left join sys_dept d on d.dept_id = oi.dept_id
        left join sys_user u on u.user_id = oi.user_id
        WHERE is_clear = 0
        and is_recycle = 1 ${params.dataScope}) t3
    </select>

    <update id="qingyun">
        update pw_order_item
        set is_clear = 1,
        clear_time = now()
        where is_recycle = 1
        and DEPT_ID = #{deptId}
    </update>

    <select id="getNextOneByDeptId" resultType="com.ruoyi.common.core.domain.entity.SysDept">
        select *
        from sys_dept
        where del_flag = 0
        and parent_id = #{deptId}
    </select>

    <select id="quxianxshs" resultType="java.util.Map">
        select *, ifnull(CONCAT(ROUND(t2.yhsCount / t1.yxsCount * 100, 2), '%'), '0.00%') percentage
        from (select ifnull(sum(oi.number), 0) yxsCount
        from sys_dept d
        left join pw_order_item oi on d.dept_id = oi.DEPT_ID
        where d.del_flag = 0
        and year(oi.create_time) = year(now())
        and (d.dept_id = #{deptId} or d.ancestors like '%${deptId}%')) t1,
        (select ifnull(sum(oi.number), 0) yhsCount
        from sys_dept d
        left join pw_order_item oi on d.dept_id = oi.DEPT_ID
        where d.del_flag = 0
        and year(oi.create_time) = year(now())
        and (d.dept_id = #{deptId} or d.ancestors like '%${deptId}%')
        and oi.is_recycle = 1) t2
    </select>
</mapper>